@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Nanum Brush Script', cursive;*/
/*font-family: 'Sniglet', cursive;*/

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background-color: #FFFADE;

}

#wrap-around {
    margin: 0 auto;

    justify-content: center;
    align-items: center;
}



#sidebar {
    height: 100vw;
    width: 220px;
    /*background-color: #E8F3F1;*/
    background-color: rgb(119, 226, 245);
    float: left;
    padding: 0 10px;
    position: fixed;



}

#info {
    margin: 10px 0;
}

#info h3 {
    font-family: 'Sniglet', cursive;
    color: #D53E69;
    font-size: 30px;
    text-align: center;
}

hr {

    border: solid 0.25px #DDE2F3;
    width: 96%;
}


#user-name,
#number-of-games,
#number-of-games,
#user-score,
#all-score {
    text-align: center;

}



#user-name p,
.user-label p,
#username p,
#number-of-games p,
#user-score p,
#all-score p {
    font-family: 'Sniglet', cursive;
    color: teal;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0rem;
    text-align: center;
    padding: 10px;


}





#username {
    height: 30px;
    width: 150px;
    padding: 5px;
    font-family: 'Sniglet', cursive;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0rem;
    border-radius: 5px;
    border: 2px solid #DDE2F3;
}

#username::placeholder {
    color: lightgray;
}

.to-fill,
#to-fill-score {
    height: auto;
    width: auto;
    padding: 5px 30px;
    font-family: 'Sniglet', cursive;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 0rem;
    border-radius: 5px;
    border: 2px solid #DDE2F3;


}




#save-btn {
    height: 50px;
    width: 80px;
    padding: 5px;
    margin: 10px auto auto auto;
    font-family: 'Sniglet', cursive;
    color: white;
    background-color: teal;
    font-size: 20px;
    letter-spacing: 0rem;
    border-radius: 20px;
    border: 2px solid #DDE2F3;
    display: block;
    margin-top: 20px;
}


#save-btn p {
    color: white;
}





#info-container {
    visibility: visible;
}




#title-area {
    height: auto;
    width: 100vw;
    margin: 0 auto;
    float: none;
    display: block;
    /* background-color: purple;*/
    text-align: center;
    overflow: hidden;

}

#quiz-title {
    /*color:#8A88E4;*/
    /* text-transform: uppercase;*/
    letter-spacing: 2px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 50px;
    color: #2A0B5B;

}


#photo-area {
    height: auto;
    width: 100vw;
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center;
    overflow: hidden;

}


#photo {
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    float: none;
    display: block;
    height: auto;
    width: 100%;
    position: relative;
}



img {

    border-radius: 5px;

}

#question-area {
    height: 50px;
    width: 100vw;
    margin: auto;
    float: none;
    display: block;
    /* background-color: cyan;*/
    text-align: center;
    font-family: 'Sniglet', cursive;
}

#title {
    font-size: 50px;
    color: #D53E69;
    margin-bottom: 20px;

}

#game-area {
    height: auto;
    width: 100vw;
    margin: auto;
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#ready {
    color: #D53E69;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 50px;
    margin: 20px;
    display: block;

}

#question {
    overflow: hidden;
    font-family: 'Sniglet', cursive;
    font-weight: 600;
    font-size: 19px;
    color: #432E67;
    display: block;
    margin: 20px 0 10px 0;
}



#button-area {
    display: grid;
    grid-gap: 10px;

}



.start-btn,
.next-btn {
    display: block;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Sniglet', cursive;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #DDE2F3;
    text-align: center;
    width: 150px;
    background: linear-gradient(90deg, rgba(4, 134, 41, 1), rgba(6, 53, 20, 1));
    color: white;
    white-space: nowrap;

}

#answer-area {
    display: grid;
    grid-template-columns: 250px 250px;
    /* grid-row: auto auto;*/
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-gap: 10px;
    margin: 20px auto;
}

#res-div,
#result {

    margin: 0 auto;
    justify-content: center;
    display: block;
}

#end-table{

    margin:0 auto;
    height: auto;
    width: auto;
    font-family: 'Sniglet', cursive;
    font-size:16px;
    color:rgba(6, 53, 20, 1);
    display: block;
}





.disabled {
    pointer-events: none;
    opacity: 0.5;
    animation-duration: 30s;
    animation: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.5;
    }



}

.enabled {
    pointer-events: all;
    opacity: 1;
}

.answer-btn {
    display: block;
    padding: 20px;
    font-family: 'Sniglet', cursive;
    width: 200px;
    background: linear-gradient(180deg, rgb(132, 94, 194), rgb(132, 12, 215, 1));
    color: #EFEFEF;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #DDE2F3;
    margin: 0 auto;
    text-align: left;
}

.answer-btn p {
    display: inline;
    margin: 0 5px;
}

.answer-btn:hover,
.start-btn:hover,
.next-btn:hover,
#save-btn:hover {
    cursor: pointer;
    transition: transform 120ms;
    transform: scale(1.04);



}


#right-arrow {
    font-size: 18px;
    color: white;
    padding-left: 5px;
}


.correct {

    background: linear-gradient(45deg, rgba(5, 209, 63, 1), rgba(2, 114, 36, 0.9));
    /*transition: transform 60ms;*/
    animation: fadeMe 0.5s;
    -webkit-animation: fadeMe 0.5s;
    -moz-animation: fadeMe 0.5s;
    -o-animation: fadeMe 0.5s;
    -ms-animation: fadeMe 0.5s;

}

@keyframes fadeMe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeMe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }

}

@-o-keyframes fadeMe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}


@-ms-keyframes fadeMe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

.incorrect {

    background: linear-gradient(45deg, rgba(231, 19, 36, 1), rgba(167, 6, 6, 0.9));
    /* transition: transform 60ms;*/
    animation: fadeMe 0.5s;
    -webkit-animation: fadeMe 0.5s;
    -moz-animation: fadeMe 0.5s;
    -o-animation: fadeMe 0.5s;
    -ms-animation: fadeMe 0.5s;


}

#result {
    font-size: 25px;
    font-family: 'Sniglet', cursive;
    display: inline;
}

@media screen and (min-width:1025px) and (max-width:1200px) {

    #question-area,
    #question {

        width: 50%;
        height: auto;
        justify-content: center;
        margin: 0 auto;
    }


}

@media screen and (min-width:992px) and (max-width:1024px) {

    #question-area,
    #question {

        width: 50%;
        height: auto;
        justify-content: center;
        margin: 0 auto;
    }

}


@media screen and (min-width:768px)  and (max-width:991px) {



    #title-area,
    #photo-area,
    #question-area,
    #game-area,
    #button-area,
    #answer-area {
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;

    }





    #sidebar {
        height: auto;
        width: 50%;
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;
        align-content: center;


    }


    .answer-btn {
        width: 200px;
        background: linear-gradient(180deg, rgb(132, 94, 194, 1), rgb(67, 46, 103, 1));
        color: white;
        font-size: 14px;
        margin-top: 5px;


    }

    .start-btn {
        margin-bottom: 15px;
    }

    .next-btn {
        float: none;
        /*margin-bottom: 20px;*/
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;



    }

    #answer-btn4 {
        margin-bottom: 20px;


    }


    #username {
        height: auto;
        width: 150px;
        margin-top: 5px;
    }





    #info-container {
        margin: 0 auto;
    }



}



@media screen and (min-width:400px) and (max-width:990px) {


    #save-btn {
        height: 50px;
        width: 100px;
        padding: 5px;
        margin: 10px auto auto auto;
        font-family: 'Sniglet', cursive;
        color: white;
        background-color: teal;

        font-size: 20px;
        letter-spacing: 0rem;
        border-radius: 20px;
        border: 2px solid #DDE2F3;
        display: block;
        margin-top: 20px;
    }

    #save-btn p {
        color: white;
    }

    #question {
        padding: 0 10px;
    }


    #title-area,
    #photo-area,
    #question-area,
    #game-area,
    #button-area,
    #answer-area {
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;

    }


    #sidebar {
        height: auto;
        width: auto;
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;
        align-content: center;


    }


    .answer-btn {
        width: 200px;
        background: linear-gradient(180deg, rgb(132, 94, 194, 1), rgb(67, 46, 103, 1));
        color: white;
        font-size: 15px;
        margin-top: 5px;


    }

    .start-btn {
        margin-bottom: 15px;
    }

    .next-btn {
        display: block;
        float: none;
        position: relative;
        margin: 20px auto 20px auto;

    }

    #answer-btn4 {
        margin-bottom: 20px;


    }

    .answer-text {
        padding-right: 0;
    }


    #username {

        height: auto;
        width: 150px;
        margin-top: 5px;



    }

    ::placeholder {
        color: lightgray;
    }


    #info-container {
        margin: 0 auto;
    }


    .correct {

        background: linear-gradient(45deg, rgba(5, 209, 63, 1), rgba(2, 114, 36, 0.8));
        /*transition: transform 60ms;*/
    }


    .incorrect {

        background: linear-gradient(45deg, rgba(231, 19, 36, 1), rgba(167, 6, 6, 0.8));
        /* transition: transform 60ms;*/
    }



}

@media screen and (min-width:280px) and (max-width:767px){

    #save-btn {
        height: 50px;
        width: 100px;
        padding: 5px;
        margin: 10px auto auto auto;
        font-family: 'Sniglet', cursive;
        color: white;
        background-color: teal;

        font-size: 20px;
        letter-spacing: 0rem;
        border-radius: 20px;
        border: 2px solid #DDE2F3;
        display: block;
        margin-top: 20px;
    }

    #save-btn p {
        color: white;
    }



    #question {
        padding: 0 10px;
    }

    #title-area,
    #photo-area,
    #question-area,
    #game-area,
    #button-area,
    #answer-area {
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;
        height: auto;
        width: auto;
        justify-content: center;
        align-content: center;

    }


    #sidebar {
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;
        height: auto;
        justify-content: center;
        align-content: center;

    }



    #wrap-around {
        margin: 0 auto;
        width: 100%;
        height: auto;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .answer-btn {
        width: 200px;
        background: linear-gradient(180deg, rgb(132, 94, 194, 1), rgb(67, 46, 103, 1));
        color: white;
        font-size: 15px;
        margin-top: 5px;

    }

    .start-btn {
        margin-bottom: 15px;
    }

    .next-btn {
        /* margin: 20px;*/

        display: block;
        float: none;
        position: relative;
        margin: 20px auto 20px auto;


    }



    img {

        border: none;
        box-shadow: none;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;


    }

    #photo-area {
        height: auto;
        width: 100vw;

    }


    #photo {

        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        float: none;
        display: block;
        height: auto;
        width: 100%;
        position: relative;


    }

    /* .answer-text {padding-right: 50px;}*/

    .correct {

        background: linear-gradient(45deg, rgba(5, 209, 63, 1), rgba(2, 114, 36, 0.8));
        /*transition: transform 60ms;*/
    }


    .incorrect {

        background: linear-gradient(45deg, rgba(231, 19, 36, 1), rgba(167, 6, 6, 0.8));
        /* transition: transform 60ms;*/
    }


}