@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Nanum Brush Script', cursive;*/
/*font-family: 'Sniglet', cursive;*/

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background-color: #FFFADE;

}

#wrap-around {
    margin: 0 auto;

    justify-content: center;
    align-items: center;
}



#sidebar {
    height: 100vw;
    width: 220px;
    background-color: #E8F3F1;
    float: left;
    padding: 0 10px;
    position: fixed;



}

#info,
#login-form,
#registration-form {
    margin: 10px 0;
}

#info h3,
.form-container h3 {
    font-family: 'Poppins', sans-serif;
    color: #D53E69;
    font-size: 30px;
    text-align: center;
}

hr {

    border: solid 0.25px #DDE2F3;
    width: 96%;
}


#user-name,
#number-of-games,
#number-of-games,
#user-score,
#all-score,
.form-container,
#reg-msg {
    text-align: center;
}



#user-name p,
#number-of-games p,
#number-of-games p,
#user-score p,
#all-score p,
.user-label,
.password-label,
.email-label,
.repeat-password-label,
.checkbox,
#reg-msg,
#guest {
    font-family: 'Poppins', sans-serif;
    color: teal;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0rem;
    text-align: center;
    padding: 5px;


}

#guest,
#reg-msg {
    color: #D53E69;

}



.form-container p,
.sign-in-container p {
    color: #2A0B5B;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0rem;
    text-align: center;
    padding: 5px;

}

#username,
#password,
#email,
#repeat-password,
#username2,
#password2 {
    height: auto;
    width: auto;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0rem;
    border-radius: 5px;
    border: 2px solid #DDE2F3;
}

.to-fill,
#to-fill-score {
    height: auto;
    width: auto;
    padding: 5px 30px;
    font-family: 'Sniglet', cursive;
    color: purple;
    background-color: white;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 0rem;
    border-radius: 5px;
    border: 2px solid #DDE2F3;


}


.login-btn,
.register-btn {
    height: auto;
    width: 80px;
    padding: 5px;
    margin: 10px auto auto auto;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: teal;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0rem;
    border-radius: 5px;
    border: 2px solid #DDE2F3;
    display: block;
}


.login-btn p,
.register-btn p {
    color: white;
}

#errors,
#password-error {
    color: red;
}


#form-table1 {
    visibility: collapse;
}

#info-table {
    visibility: collapse;
}




#title-area {
    height: auto;
    width: 100vw;
    margin: 0 auto;
    float: none;
    display: block;
    /* background-color: purple;*/
    text-align: center;
    overflow: hidden;

}

#quiz-title {
    /*color:#8A88E4;*/
    /* text-transform: uppercase;*/
    letter-spacing: 2px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 50px;
    color: #2A0B5B;

}


#photo-area {
    height: 270px;
    width: 100vw;
    margin: 0 auto;
    float: none;

    display: block;
    /*background-color: crimson;*/
    text-align: center;
    overflow: hidden;

}


#photo {

    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    float: none;
    display: block;
    height: 270px;
    width: 100%;
    position: relative;


}



img {

   /* border: 10px solid white;
    box-shadow:
        0 0 0 10px rgb(202, 179, 165),
        0 0 0 22px rgb(164, 124, 101);

    position: relative;
    margin: 20px;*/

     border-radius: 5px;

}

#question-area {
    height: 50px;
    width: 100vw;
    margin: auto;
    float: none;
    display: block;
    /* background-color: cyan;*/
    text-align: center;
    font-family: 'Sniglet', cursive;
}

#title {
    font-size: 50px;
    color: #D53E69;
    margin-bottom: 20px;

}

#game-area {
    height: auto;
    width: 100vw;
    margin: auto;
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#ready {
    color: #D53E69;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 50px;
    margin: 20px;
    display: block;

}

#question {
    overflow: hidden;
    font-family: 'Sniglet', cursive;
    font-weight: 600;
    font-size: 19px;
    color: #432E67;
    display: block;
    margin: 20px 0 10px 0;
}



#button-area
{
    display: grid;
    grid-gap: 10px;

}



.start-btn,
.next-btn {
    display: block;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Sniglet', cursive;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #DDE2F3;
    text-align: center;
    width: 150px;
    background: linear-gradient(90deg, rgba(4, 134, 41, 1), rgba(6, 53, 20, 1));
    color: white;
    white-space: nowrap;

}

#res-div, #result{

    margin: 0 auto;
    justify-content: center;
    display: block;
}



#answer-area {
    display: grid;
  grid-template-columns: 250px 250px;
 /* grid-row: auto auto;*/
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-gap: 10px;
  margin: 20px auto;
}

.answer-btn {
    display: block;
    padding: 20px;
    font-family: 'Sniglet', cursive;
    width: 200px;
    background: linear-gradient(180deg, rgb(132, 94, 194), rgb(132, 12, 215, 1));
    color: #EFEFEF;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #DDE2F3;
    margin: 0 auto;
    text-align: left;
}

.answer-btn p {
    display: inline;
    margin: 0 5px;
}

.answer-btn:hover,
.start-btn:hover,
.next-btn:hover {
    cursor: pointer;
    transition: transform 120ms;
    transform: scale(1.04);
    
    

}


/*.animate {
    animation: fadeMe 0.5s;
}*/








#right-arrow {
    font-size: 18px;
    color: white;
    padding-left: 5px;
}


.correct {

    background: linear-gradient(45deg, rgba(5, 209, 63, 1), rgba(2, 114, 36, 0.8));
    /*transition: transform 60ms;*/
    animation: fadeMe 0.5s;
    -webkit-animation: fadeMe 0.5s;
    -moz-animation: fadeMe 0.5s;
    -o-animation: fadeMe 0.5s;
    -ms-animation: fadeMe 0.5s;
    
}

@keyframes fadeMe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeMe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
    
}

@-o-keyframes fadeMe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}


@-ms-keyframes fadeMe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

.incorrect  {

    background: linear-gradient(45deg, rgba(231, 19, 36, 1), rgba(167, 6, 6, 0.8));
   /* transition: transform 60ms;*/
   animation: fadeMe 0.5s;
    -webkit-animation: fadeMe 0.5s;
    -moz-animation: fadeMe 0.5s;
    -o-animation: fadeMe 0.5s;
    -ms-animation: fadeMe 0.5s;
    
   
}

#result {
font-size: 25px;
  font-family: 'Sniglet', cursive;
  display: inline;
}



@media screen and (min-width:768px) and (max-width:990px) {



    #title-area,
    #photo-area,
    #question-area,
    #game-area,
    #button-area,
    #answer-area {
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;

    }

  #question-area, #question{

    width: 50%;
    height: auto;
    justify-content: center;
  }
    #sidebar {
        height: auto;
        width: 50%;
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;
        align-content: center;


    }
   

    .answer-btn {
        width: 200px;
        background: linear-gradient(180deg, rgb(132, 94, 194, 1), rgb(67, 46, 103, 1));
        color: white;
        font-size: 14px;
        margin-top: 5px;


    }

    .start-btn {
        margin-bottom: 15px;
    }

    .next-btn {
        float: none;
        /*margin-bottom: 20px;*/
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;



    }

    #answer-btn4 {
        margin-bottom: 20px;


    }


    #username,
    #password,
    #repeat-password,
    #username2,
    #password2,
    #email {

        height: auto;
        width: 150px;
        margin-top: 5px;


    }



    .user-label,
    .password-label,

    .repeat-password-label {
        margin-right: 8px;

    }

    .email-label {
        margin-right: -2px;
    }

    .form-container {
        padding-right: 20px;
    }

    #info-table,
    #form-table1,
    #form-table2 {
        margin: 0 auto;
    }



}

@media only screen and (min-width:400px) and (max-width:990px) {
    /*Check this later*/



    #title-area,
    #photo-area,
    #question-area,
    #game-area,
    #button-area, 
    #answer-area{
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;

    }








    #sidebar {
        height: auto;
        width: 50%;
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;
        align-content: center;


    }


    .answer-btn {
        width: 200px;
        background: linear-gradient(180deg, rgb(132, 94, 194, 1), rgb(67, 46, 103, 1));
        color: white;
        font-size: 15px;
        margin-top: 5px;


    }

    .start-btn {
        margin-bottom: 15px;
    }

    .next-btn {
        display: block;
        float: none;
        position: relative;
        margin: 20px auto 20px auto;

    }

    #answer-btn4 {
        margin-bottom: 20px;


    }
    .answer-text {padding-right:0;}


    #username,
    #password,
    #repeat-password,
    #username2,
    #password2,
    #email {

        height: auto;
        width: 150px;
        margin-top: 5px;



    }



    .user-label,
    .password-label,

    .repeat-password-label {
        margin-right: 8px;

    }

    .email-label {
        margin-right: -2px;
    }



    #info-table,
    #form-table1,
    #form-table2 {
        margin: 0 auto;
    }


    .correct {

        background: linear-gradient(45deg, rgba(5, 209, 63, 1), rgba(2, 114, 36, 0.8));
        /*transition: transform 60ms;*/
    }
    
    
    .incorrect  {
    
        background: linear-gradient(45deg, rgba(231, 19, 36, 1), rgba(167, 6, 6, 0.8));
       /* transition: transform 60ms;*/
    }



}

@media screen and (min-width:280px) and (max-width:767px) {




    #title-area,
    #photo-area,
    #question-area,
    #game-area,
    #button-area,
    #answer-area {
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;
        height: auto;
        width: auto;
        justify-content: center;
        align-content: center;

    }


    #sidebar {
        display: block;
        float: none;
        position: relative;
        margin: 0 auto;
        height: auto;
        justify-content: center;
        align-content: center;

    }



    #wrap-around {
        margin: 0 auto;
        width: 100%;
        height: auto;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .answer-btn {
        width: 200px;
        background: linear-gradient(180deg, rgb(132, 94, 194, 1), rgb(67, 46, 103, 1));
        color: white;
        font-size: 15px;
        margin-top: 5px;

    }

    .start-btn {
        margin-bottom: 15px;
    }

    .next-btn {
        /* margin: 20px;*/

        display: block;
        float: none;
        position: relative;
        margin: 20px auto 20px auto;


    }

    

    img {

        border: none;
        box-shadow: none;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;


    }

    #photo-area {
        height: 300px;
        width: 100vw;

    }


    #photo {

        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        float: none;
        display: block;
        height: 300px;
        width: 100%;
        position: relative;


    }

    .answer-text {padding-right:0;}

    .correct {

        background: linear-gradient(45deg, rgba(5, 209, 63, 1), rgba(2, 114, 36, 0.8));
        /*transition: transform 60ms;*/
    }
    
    
    .incorrect  {
    
        background: linear-gradient(45deg, rgba(231, 19, 36, 1), rgba(167, 6, 6, 0.8));
       /* transition: transform 60ms;*/
    }


}